Taskbook.CoreModels/obj/
*/obj/**/*
*/bin/**/*
*.suo
packages/
Taskbook.Web/node_modules/*
*.user
Taskbook.Web/wwwroot/**/*.js
Taskbook.Web/wwwroot/lib/*
Taskbook.Web/wwwroot/css/*
Taskbook.Web/wwwroot/js/*
Taskbook.Web/wwwroot/app/**
!Taskbook.Web/wwwroot/js/config.js
!Taskbook.Web/wwwroot/js/tests-config.js
Taskbook.Web/wwwroot/fonts/*
Taskbook.Web/wwwroot/**/*.js.map
**/*.lock.json
.vs/*
wrap/**/bin/*
Taskbook.Web/**/*.map
Taskbook.Web/typings/**
node_modules/**/*.*
node_modules/*
Taskbook.Web/.idea/*
.idea/.idea.Taskbook/riderModule.iml
.idea/.idea.Taskbook/.idea/*
Taskbook.Web/wwwroot/app/*
