taskbook.CoreModels/obj/
*/obj/**/*
*/bin/**/*
*.suo
packages/
taskbook.Web/node_modules/*
*.user
taskbook.Web/wwwroot/**/*.js
taskbook.Web/wwwroot/lib/*
taskbook.Web/wwwroot/css/*
taskbook.Web/wwwroot/js/*
taskbook.Web/wwwroot/app/**
!taskbook.Web/wwwroot/js/config.js
!taskbook.Web/wwwroot/js/tests-config.js
taskbook.Web/wwwroot/fonts/*
taskbook.Web/wwwroot/**/*.js.map
**/*.lock.json
.vs/*
wrap/**/bin/*
taskbook.Web/**/*.map
taskbook.Web/typings/**
node_modules/**/*.*
node_modules/*
taskbook.Web/.idea/*
.idea/.idea.taskbook/riderModule.iml
.idea/.idea.taskbook/.idea/*
taskbook.Web/wwwroot/app/*
