HirePlayers.CoreModels/obj/
*/obj/**/*
*/bin/**/*
*.suo
packages/
Hireplayers.Web/node_modules/*
*.user
Hireplayers.Web/wwwroot/**/*.js
Hireplayers.Web/wwwroot/lib/*
Hireplayers.Web/wwwroot/css/*
Hireplayers.Web/wwwroot/js/*
Hireplayers.Web/wwwroot/app/**
!Hireplayers.Web/wwwroot/js/config.js
!Hireplayers.Web/wwwroot/js/tests-config.js
Hireplayers.Web/wwwroot/fonts/*
Hireplayers.Web/wwwroot/**/*.js.map
**/*.lock.json
.vs/*
wrap/**/bin/*
Hireplayers.Web/**/*.map
Hireplayers.Web/typings/**
node_modules/**/*.*
node_modules/*
Hireplayers.Web/.idea/*
.idea/.idea.Hireplayers/riderModule.iml
.idea/.idea.Hireplayers/.idea/*
Hireplayers.Web/wwwroot/app/*
